#title-bar {
  padding: 36px 0;
  position: relative;
  background-color: #03a062;
}
.courses {
  min-height: 57.7vh;
  text-align: center;
}
.form-select {
  width: 10px;
}
.dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.description {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Roboto Slab", sans-serif;
}
.course-title {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.course-badge {
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
  height: 40%;
}
.course-desc {
  font-size: 0.9rem;
  font-weight: normal;
  height: 60%;
  font-family: "Ubuntu", sans-serif;
}
.course-level {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Ubuntu", sans-serif;
  margin-left: 10px;
}
.search-results {
  width: 50%;
}
@media screen and (max-width: 750px) {
  .middle-container {
    width: 100%;
    min-height: 100vh;
  }
  .search-results {
    width: 90%;
  }
  #search-name {
    display: none;
  }
}
